.header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 7%;
    z-index: 3;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top:0;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
}
.header-title {
    margin-left: 25px;
}
.header-filters {
    display: flex;
    align-items: center;
    width: 54%;
    justify-content: flex-start;
    padding: 3px;

}
.header-filters input {
    padding-top:6px;
    color: gray;
    padding-bottom: 6px;
    width: 50%;
    border-radius: 5px;
    padding-left: 10px;
    margin-left: 60px;
}
.header-filters select {
    padding-top:6px;
    padding-bottom: 6px;
    color: gray;
    width: 40%;
    margin-left: 20px;
}

.header-title {
    font-weight: bold;
    font-size: 30px;
}

.halfBlue {
    color: rgb(80, 193, 238);
}

.login {
     margin-left: 100px;
}

.register {
    margin-right: 40px;
}

.link {
    text-decoration: none;
    color: inherit;
    margin-right: 30px;
}
.success-message {
    color: green;
    font-size: 18px;
    margin-top: 10px;
  }
  
